/* body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
} */

/* header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
} */

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3.parag::before{
    height: 0!important;
    width:0!important
}
.parag{
    box-shadow: 0 0 5px ;
}
section h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}
